[submodule "fast-syntax-highlighting"]
    path = zsh/.zsh/fast
    url = https://github.com/zdharma/fast-syntax-highlighting
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Blacksuan19/init.nvim
