/* vivaldi css */

/*hide trash icon*/
#tabs-container .toggle-trash {
	display: none !important;
}

/*hide home button*/
.button-addressfield.home, .button-tabbar.home, .button-toolbar-small.home, .button-toolbar.home {
	display: none !important
}

/*hide vivaldi button*/
button.vivaldi {
	display: none !important;
}

/*tap container margin*/
#tabs-container.top {
	margin-left: -2.25%;
}

/*hide rewind button*/
.button-toolbar.rewind {
	display: none !important
}

/*hide next button*/
.button-toolbar.next {
	display: none !important
}

/* Hides new tab button */
.button-tabbar.newtab {
	display: none !important;
}

/*hide reload button*/
button.button-toolbar.reload {
	display: none;
}

/*hide back and foreword buttons*/
.button-toolbar.back {
	display: none !important;
}

.button-toolbar.forward {
	display: none !important;
}

/*hide drop down menu button*/
.button-addressfield.input-dropdown {
	display: none !important;
}

/*Remove border around favicon(tab icon) and and shadow*/
.tab-header .favicon {
	box-shadow: none !important;
	background-color: transparent !important;
	-webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

/*Progress bar on address Bar */
.addressfield, .searchfield {
	border: none;
	background-color: var(--colorAccentBg);
	color: var(--colorAccentFg);
}

/*hide address filed shadow*/
.addressfield.focused, .searchfield.focused {
	border: none;
	box-shadow: none !important;
	border-radius: 0;
}

/*custom font for address bar*/
input.url {
	background-color: var(--colorAccentBg);
	font-family: 'San Francisco Display' !important;
	font-weight: 100 !important;
}

/*custom font for search panel*/
.urlSearch {
	font-family: 'San Francisco Display';
	font-weight: 200;
	background-color: var(--colorAccentBgDark) !important;
}

/*custom font for the drop down menu*/
section.filter-typedhistory>.omni-clickable>span {
	font-family: 'San Francisco Display';
	font-weight: 100;
}

/*hide progress bar*/
.pageload.progress-done {
	opacity: 0 !important;
	transition: all 2s;
}

/*set some colors to the accent color*/
.button-addressfield.bookmark svg .bookmark-outline {
	fill: var(--colorAccentFg);
}

button.button-addressfield:hover, .toolbar.toolbar-addressbar .button-toolbar:hover {
	border-color: transparent;
	background-color: var(--colorAccentBgDarker);
}

section.filter-typedhistory {
	background-color: var(--colorAccentBgDark);
}

section.filter-typedhistory>label {
	color: var(--colorAccentFg);
}

/* loading fav icon*/
@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}

}

div.tab-header span.progressing + span.favicon {
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/*hide navigation bar on start page */
.startpage-navigation {
	display: none !important;
}
