#!/bin/sh

# set important paths
export XDG_CONFIG_HOME="$HOME/.config"
[ -d /sbin ] && PATH="$PATH:/sbin"
[ -d /usr/sbin ] && PATH="$PATH:/usr/sbin"
[ -d "$HOME/bin" ] && PATH="$HOME/bin:$PATH"

# default editor
export EDITOR=nvim

# super alone simulates Alt-F2
ksuperkey -e 'Super_L=Alt_L|F2' &
ksuperkey -e 'Super_R=Alt_L|F2' &
