#!/bin/sh

# set important paths
export XDG_CONFIG_HOME="$HOME/.config"

[ -d /sbin ] && PATH="$PATH:/sbin"
[ -d /usr/sbin ] && PATH="$PATH:/usr/sbin"
[ -d "$HOME/bin" ] && PATH="$HOME/bin:$PATH"

# qt themeing
export QT_QPA_PLATFORMTHEME=qt5ct

# light
light -S 40

# super alone simulates Alt-F1
ksuperkey -e 'Super_L=Alt_L|F1' &
ksuperkey -e 'Super_R=Alt_L|F1' &

# keyboard repeat rate
xset r rate 500 30

# keyboard layouts
setxkbmap us, ar
setxkbmap -option
setxkbmap -option "grp:alt_shift_toggle"

# natural scrolling
xinput --set-prop 15 "libinput Natural Scrolling Enabled" 1

# auto sleep after 20 min (turn the screen off 600 seconds before)
xautolock -notify 600 -time 30 \
          -notifier "xset dpms force off" \
          -killer "systemctl hybrid-sleep" &
