configuration {
  font: "FuraCode Nerd Font Mono 10";
  display-run: " ";
  display-drun: " ";
  display-window: " ";
  padding: 20;
  line-padding: 2;
  separator-style: "solid";
  hide-scrollbar: true;
  theme: "~/.config/rofi/material-ocean.rasi";
  kb-cancel: "Escape,Alt+F1";
}
