[Desktop Entry]
Type=Application
Name=Alist Player Handler
Comment=Play Alist media in MPV or VLC
Exec=sh -c '$HOME/.scripts/alist-handler "$1"' sh %u
StartupNotify=false
Terminal=false
MimeType=x-scheme-handler/mpv;x-scheme-handler/vlc;x-scheme-handler/potplayer;
