/* more compact drop down  */

@-moz-document url(chrome://browser/content/browser.xul) {
  /* Remove " - Visit" or " - Search with" bar in the drop-down */
  #PopupAutoCompleteRichResult richlistitem:first-of-type[type*="heuristic"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="searchengine"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="visiturl"],
  #PopupAutoCompleteRichResult richlistitem:first-of-type[actiontype="keyword"] {
    display: none !important;
  }
  #PopupAutoCompleteRichResult .autocomplete-richlistbox {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  /* Set max-height for items visible without scrolling */
  #PopupAutoCompleteRichResult .autocomplete-richlistbox {
    /* height:auto doesn't work in photon */
    max-height: calc(45.5px * 10) !important;
  }
  /* Set drop-down width */
  #PopupAutoCompleteRichResult {
    width: 1175px !important;
    max-width: 1175px !important;
    margin-left: 0 !important;
  }
  #PopupAutoCompleteRichResult
    .autocomplete-richlistitem:not([actiontype="searchengine"])
    .ac-title-text,
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-url-text {
    min-width: 810px !important;
  }
  /* Create sufficient height for two lines */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) {
    position: relative !important;
    height: 45.5px !important;
  }
  /* Position page title, set font-size */
  #PopupAutoCompleteRichResult
    .autocomplete-richlistitem:not([actiontype="searchengine"])
    .ac-title {
    position: absolute !important;
    left: 54px;
    top: 1px;
    font-size: 14px !important;
  }
  /* Position page url / action, set font-size */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem:not([actiontype="searchengine"]) .ac-url,
  #PopupAutoCompleteRichResult
    .autocomplete-richlistitem:not([actiontype="searchengine"])
    .ac-action {
    position: absolute !important;
    left: 54px;
    top: 20px;
    font-size: 12px !important;
  }
  /* Position bookmark tags */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-tags {
    position: absolute !important;
    right: 0px;
    top: 3px;
  }
  /* Hide separator between title and URL */
  #PopupAutoCompleteRichResult
    .autocomplete-richlistitem:not([actiontype="searchengine"])
    .ac-separator {
    display: none !important;
  }
  /* Prevent excess indenting of icons in Photon */
  #PopupAutoCompleteRichResult .autocomplete-richlistitem [anonid="type-icon-spacer"] {
    display: none !important;
  }
  #PopupAutoCompleteRichResult {
    --item-padding-start: 0 !important;
  }
  .autocomplete-richlistitem[selected="true"] {
    background-color: #0f111a !important;
  }
  .autocomplete-richlistitem[selected="true"] .ac-title,
  .ac-title[selected],
  .autocomplete-richlistitem[selected="true"] .ac-url,
  .ac-url[selected],
  .autocomplete-richlistitem[selected="true"] .ac-action,
  .ac-action[selected],
  .autocomplete-richlistitem[selected="true"] .ac-separator,
  .ac-separator[selected] {
    color: #0f111a !important;
  }
  /* Use default text matching style */
  /* Ability to scroll in Fx57 */
  #PopupAutoCompleteRichResult .autocomplete-richlistbox > scrollbox {
    overflow-y: auto !important;
    padding-right: 3px !important;
  }
  #PopupAutoCompleteRichResult .autocomplete-richlistbox {
    padding-right: 0 !important;
  }
}
