[ContrastEffect]
contrast=0.2
enabled=false
intensity=0.4
saturation=1.7

[Desktop Entry]
Comment=A rounded theme for Plasma with transparency and blur that follows all color scheme
Name=Utterly-Round
X-KDE-PluginInfo-Author=Himprakash Deka
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Email=himprakashd@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=Utterly-Round
X-KDE-PluginInfo-Version=2.1
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true